* {box-sizing: border-box;}
a:link {
    color: #5aadff;
}

a:visited {
     color: #2190ff;
}

body {
    margin: 0;
    color: #eee;
    font-family: monospace;
}

.header {
    overflow: auto;
    background-color: #333;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header {
    overflow: auto;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

header a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

header a:hover {
    /* background-color: #ff7f2f; */
    color: #eee;
}

.welcome {
    float: left;
}

header a.header_img {
    padding: 0 0;
    float: left;
}

.connect_to {
    float: left;
}

.links {
    float: right;
}

.content::before{
    content:"";
    background-image: url('../img/bg3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: -3;
}

#content {
    color: #eee;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    position:relative;
    margin-right: 1%;                
    margin-left: 1%;
    width: 70%;
    left: 15%;
    margin-bottom: 100px;
}

#content h1 {
    margin-left: 1%;
}
#content a {
    padding: 14px 16px;
    font-size: 18px;
}

#content code {
    background-color: rgba(255, 127, 47, 0.8);
    padding: 0px 5px;
    margin-left: 1%;
    font-size: 18px;
}

.maplist {
    overflow: hidden;
    text-overflow: ellipsis;
}

footer {
    color: #eee;
    background-color: #333;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 20;
    text-align: center;
    font-size: 16px;
}

footer img {
    background-color: #333;
    width: 42px;
    height: 42px;
    float: right;
    margin-right: 15px;
}

@media only screen and (max-width: 1300px) {
    #content {
        width: 100%;
        left: 0%;
        margin-left: 0%;
    }
}
